/ComputeArea.class
/ComputeAreaWithConsoleInput.class
/ComputeAreaWithConstant.class
/ComputeAverage.class
/ComputeChange.class
/ComputeLoan.class
/DisplayTime.class
/FahrenheitToCelsius.class
/SalesTax.class
/ShowCurrentTime.class
/ComputeArea.java
/ShowCurrentTime.java
